extends layout

block content
 

  .row
    .col-sm-12
      
      h2 Heyo View My Amp Profile
      
        a.btn.btn-default(href='/account', role='button') View details »


        .row
          .col-sm-12
            
            h2 View My LinkedIn Details Amigo
            
              a.btn.btn-default(href='/api/linkedin', role='button') View details »


