extends ../layout

block content
  h2 API Examples
  hr

  .row
    .col-sm-4
      a(href='/api/github', style='color: #fff')
        .panel.panel-default(style='background-color: #000')
          .panel-body
            img(src='http://i.imgur.com/2AaBlpf.png', height=40)
            |  GitHub
    .col-sm-4
      a(href='/api/twitter', style='color: #fff')
        .panel.panel-default(style='background-color: #00abf0')
          .panel-body
            img(src='http://i.imgur.com/EYA2FO1.png', height=40)
            |  Twitter
    .col-sm-4
      a(href='/api/facebook', style='color: #fff')
        .panel.panel-default(style='background-color: #3b5998')
          .panel-body
            img(src='http://i.imgur.com/jiztYCH.png', height=40)
            |  Facebook


    
    .col-sm-4
      a(href='/api/linkedin', style='color: #fff')
        .panel.panel-default(style='background-color: #007bb6')
          .panel-body
            img(src='http://i.imgur.com/sYmVWAw.png', height=40)
            |  LinkedIn
  
   
  
    .col-sm-4
      a(href='/api/aviary', style='color: #fff')
        .panel.panel-default(style='background: linear-gradient(to bottom, #1f3d95 0%,#04aade 100%)')
          .panel-body
            img(src='http://i.imgur.com/npBRwMI.png', height=40)
            |  Aviary




  
    .col-sm-4
      a(href='/api/upload', style='color: #1565c0')
        .panel.panel-default(style='background-color: #fff')
          .panel-body
            img(src='http://i.imgur.com/UPTzIdC.png', height=40)
            |  File Upload

    
